{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">About us</h2>
            <p>We are a generational family owned business, based in Onaero. Our produce is spray free and only sold in season, 
                straight from the tree to you. No chillers or chemical ripening. Fruit how nature intended</p>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row">

            </div>
        </div> 
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    {% endblock %}
